/**
    Trabalho para Disciplina de Aplicações dinâmicas, Prof. Adriano Milanez
    
    Alunos:
        Andrey Pimentel         RA 916109786
        Carlos José Amorim      RA 917207155
        Glaucyany Lira da Cruz  RA 916116774
        Gustavo Santos          RA 916112371
        Ivam Henrique M Santos  RA 316107371
        Juliana Araújo          RA 916112277
    
    Projeto:
        TourExpress
*/
/* Pagina Pacotes */
.jumbotron{
    background-image: url("../img/header.jpg");
}
#carouselPacotes{
	position: absolute;
	width: 480;
	height: 240;
	margin-left: 17.5%
}
a{
	color: black
}